/* removes bullets  */
ul {
list-style-type: none;
}


.navbar {
	margin-bottom: 30px;
}

.carousel-link {
	color: white;
	font-style: italic;
}

.carousel-link, a:hover {
	color: white;
}

.carousel-caption {
	width: 100%;
	left: 0;
	bottom: 0;
	padding-bottom: 0px;
	background-color: rgb(0,0,0, 0.3);	
}

.mb-0 {
	font-size: 10pt;
}

.media{
	padding-bottom: 20px;
}
